.nav {
    position:relative;
}
.nav li a {
    color:rgb(255, 255, 255);
    font-family: calibri;
    font-size: 22px;
}
.nav li a:hover {
    color: rgb(182, 41, 41);
}
.banner{
    background: url("../images/image.jpg") no-repeat center center fixed;
    background-size: contain;
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   -ms-background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    overflow: hidden;
}
.home_class h2{
    color: ghostwhite;
    text-align:center;
	position:relative;
}
